# Ignore virtual environment folders
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# VSCode / IDE settings
.vscode/
.idea/

# macOS and Windows hidden files
.DS_Store
Thumbs.db

# Datasets or large files (optional)
data/
*.pt
*.pth
*.h5

# Datasets
fer2013/
data/


# Environment files
.env
